@import "reset.css";

body {
  background-color: #f6f6f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.canvas {
  display: flex;
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.cursor {
  cursor: url("./image/pen_cursor.png") 0 50, pointer;
}

.controls {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls .btn_control {
  margin-bottom: 30px;
}

.btn_control button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.btn_control button:active {
  transform: scale(0.98);
}

.btn_control .pickedMode {
  border: 3px solid aqua;
}

.controls .color_control {
  display: flex;
}

.color_control .color_control {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.color_control .pickedColor {
  border: 3px solid aqua;
}

.color_control .colorPicker {
  background-image: url("./image/others.png");
  background-repeat: no-repeat;
  background-position: center;
}

#picker {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  color: white;
}
#picker::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0;
  color: white;
}
#picker::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
  color: white;
}

.controls .range_control {
  margin-bottom: 30px;
}
